.compare{
    font-size: 72px;
    width: 831px;
    height: 252px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.compare_text{
    display: flex;
    align-self: center;
}

.income_compare{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.employee{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    width: 231px;
    height: 330px;
}

.vs{
    font-size: 34px;
}

.hr{
    margin: 0 25px;
    color: black;
}

.yearly{
    font-size: 24px;
}

.compare_text{
    margin: 20px 0;
}