.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: #3F3F3F;
}