.header {
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #3F3F3F;
    color: white;
    height: 100px;
    width: 100%;
}

.img {
    padding: 25px 49px;
    height: 50px;
}

.date {
    padding: 0 20px 18px 0;
}