.scrollBox{
    overflow-y: scroll;
    direction: rtl;
    line-height: 3em;
    width: 433px;
    height: 300px;
    box-shadow: inset -2px 2px 7px rgba(0, 0, 0, 0.28);
}

.content{
    direction: ltr;
}